<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Nha Xuat Ban</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form action="#" th:action="@{/admin/nxb/add}" th:object="${nhaXuatBan}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name" class="form-control">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="form-group">
            <label for="des">Description</label>
            <input type="text" th:field="*{des}" id="des" placeholder="Description" class="form-control">
            <span th:if="${#fields.hasErrors('des')}" th:errors="*{des}"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add User" class="btn btn-primary form-control">
            <a th:href="@{/admin/nxb/index}" class="btn btn-secondary form-control">Cancel</a>
        </div>
    </form>
</body>
</html>